extends header

block content
    .inner
        h2.f2= title.toUpperCase()
        .map.shadow-2
            .autocomplete
                input.autocomplete__input.f5.fw1.black.w-100.pb2.mb4.mv2(type='text', placeholder='Search for anything', name='geolocate')
            #map
                p Loading Map...
