extends header

block content
    .inner
        form.form.shadow-2.pa4.mv4(action='/register', method='POST')
            h2 REGISTER
            label(for='name') Name
            input.f5.fw1.black.w-100.pb2.mb4.mt2(type='text', name='name' value=body && body.name)
            label(for='email') Email
            input.f5.fw1.black.w-100.pb2.mb4.mt2(type='email', name='email' value=body && body.email)
            label(for='password') Password
            input.f5.fw1.black.w-100.pb2.mb4.mt2(type='password', name='password')
            label(for='password-confirm') Confirm Password
            input.f5.fw1.black.w-100.pb2.mb3.mt2(type='password', name='password-confirm')
            input.white.pv2.w-100.mt3.pointer.button.f5(type='submit', value='Register')