extends header
include  mixins/_storeCard
include  mixins/_pagination

block content
    .inner
        if !hearts
            .search.mt5.mb3
                input.search__input.f6.f5-ns.fw1.black.w-100.pa2(type="text" placeholder="Search for beer, coffee, something else or specific place…" name="search")
                .search__results
        .flex.flex-wrap.mt3(class= hearts ? 'mt5' : '')
            each store in stores
                +storeCard(store)
        if !hearts
            +pagination(page, pages, count)


