extends header
include  mixins/_storeCard

block content
    .inner
        .tags.mt5.tc.mb5
            each t in tags
                a.mr3.link.f5.br3.pa2.mv2.dib.tag.black(href=`/tags/${t._id}`)
                    span.b #
                    span.fw1.f4 #{t._id}

        .flex.flex-wrap.justify-between
            each store in stores
                +storeCard(store)

