input:not([type='file']) {
  border: 0;
  border-bottom: 1px solid #eee;
  outline:none;
  &.input {
    &--error {
      border-color: red;
    }
  }
}

input[type="text"]:not(.search__input), input[type="email"]{
  box-shadow: 0 0 0 30px white inset;
}

label:not(.star){
  color: $blue;
}

textarea{
  border: 1px solid #eee;
  outline:none;
  height: 100px;
}

.button{
  background-color: $blue;
  outline: none;
  border: none;
}
