.icon svg{
  width: 25px;
  height: 25px;
}
.logo{
  height: 60px;
}

.menu_item{
  padding-top: 20px;
}

.menu_item:hover .menu_text, .menu_item.active .menu_text{
  border-bottom: 2px solid $blue;
}

.menu_item:hover svg path, .menu_item.active svg path{
  fill: $blue;
}

.side__menu{
  display: none;
  width: calc(266.7px + 5vw);
  height: 100vh;
  background: $blue;
  position: absolute;
  z-index: 5;
  right: 0;
}

.flash-messages{
  width: calc(266.7px + 5vw);
  position: absolute;
  right: 0;
}

.flash--success, .flash--error {
  border-right: none;
  border-radius: 10px 0 0 10px;
  background-color: whitesmoke;
}
.flash--error{
  border-top: 5px solid red;
  border-left: 5px solid red;
  border-bottom: 5px solid red;
}

.flash--success{
  border-top: 5px solid $blue;
  border-bottom: 5px solid $blue;
  border-left: 5px solid $blue;
}

.flash--close{
  background: none;
  border: none;
  outline: none;
}


@media only screen and (min-width: 1400px)  {
  .side__menu, .flash-messages{
    width: calc((100vw - 1400px) / 2 + 266.7px);
  }
}