html{
  position: relative;
  min-height: 100%;
}

body{
  margin: 0 0 70px;
}
.inner{
  max-width: 1400px;
  width: 90vw;
  margin: 0 auto;
}

.pagination__prev, .pagination__text, .pagination__next{
  width: 33.3333333%;
}