.star{
  color: $yellow;
}

.reviewer {
  &__stars {
    display: flex;
    justify-content: center;
    input {
      display: none;
      &:checked {
        & ~ label {
          color: $yellow;
          &:before {
            content: '★';
            font-size: 1.2rem;
            display: inline-block;
            margin-top: 2px;
          }
        }
      }
      & + label {
        font-size: 0;
        &:before {
          content: '✩';
          font-size: 1.5rem;
        }
        &[for="star5"] { order: 5; }
        &[for="star4"] { order: 4; }
        &[for="star3"] { order: 3; }
        &[for="star2"] { order: 2; }
        &[for="star1"] { order: 1; }
        &:hover, &:hover ~ label {
          color: lighten($yellow,20%);
          &:before {
            content: '★';
            font-size: 1.2rem;
            display: inline-block;
            margin-top: 2px;
          }
        }
      }
    }
  }


}