.store__card{
 // border: 1px solid black;
  width: 33.33333%;
  height: 300px;
  overflow: hidden;
  img{
    transition: all 1s;
  }
  &:hover img{
    transform: scale(1.1);
  }
}

.store__card--description{
  background: rgba(0,0,0,0.8);
  //background-color: white;
  //color: black;
  height: 100px;
}

.store__card--title{
  a {
    background-color: $blue;
  }
}

@media only screen and (max-width: 1200px)  {
  .store__card{
    width: 50%;
  }
}

@media only screen and (max-width: 750px)  {
  .store__card{
    width: 90%;
    margin:0 auto;
  }
}
