.store__card{
  width: 32%;
  margin: 0.5%;
  height: 400px;
  overflow: hidden;
  img{
    transition: all 1s;
  }
  &:hover img{
    transform: scale(1.1);
  }
}

.store__card--hero{
  height: 300px;
}

.store__card--description{
  background-color: whitesmoke;
  height: 100px;
}

.store__card--title a {
    background-color: $blue;
  }

.store__hero{
  height: 60vh;
  .store__hero--overlay{
    background-color: rgba(0,0,0,0.5);
  }
  img{
    object-fit: cover;
  }
  .store__title{
    margin-top: 9%;
    background-color: $blue;
  }
}

.edit__icon svg{
  width: 25px;
  height: 25px;
}

.tag{
  background-color: whitesmoke;
  color: $blue;
  &:hover{
    background-color: $blue;
    color: white;
  }
}


@media only screen and (max-width: 1000px)  {
  .store__card{
    width: 48%;
  }
}

@media only screen and (max-width: 750px)  {
  .store__card{
    width: 100%;
    margin:0 auto 15px auto;
  }
}
