.store__card{
  width: 33.33333%;
  height: 300px;
  overflow: hidden;
  img{
    transition: all 1s;
  }
  &:hover img{
    transform: scale(1.1);
  }
}

.store__card--description{
  background: rgba(0,0,0,0.8);
  height: 100px;
}

.store__card--title a {
    background-color: $blue;
  }

.store__hero{
  height: 60vh;
  .store__hero--overlay{
    background-color: rgba(0,0,0,0.5);
  }
  img{
    object-fit: cover;
  }
  .store__title{
    margin-top: 13%;
    background-color: $blue;
  }
}


@media only screen and (max-width: 1200px)  {
  .store__card{
    width: 50%;
  }
}

@media only screen and (max-width: 750px)  {
  .store__card{
    width: 90%;
    margin:0 auto;
  }
}
